*
!.gitignore
!*.ipynb
!2026????/
!data/
!data/usgs_data/
!data/usgs_data/download_usgs_catalog.sh
!results/
!*.py
!*.npy
!skrypty_dl/
!skrypty_dl/wlasne/
!skrypty_dl/wlasne/download_allstations_history.py
